/.Main.java._trace
/.Main.xtendbin
/Main.java
/Exam.java
/GradingData.java
/InfoField.java
/Question.java
/QuestionGrade.java
/ScanZone.java
/ScanexamFactory.java
/ScanexamPackage.java
/StudentGrade.java
