<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScanExam -->
      <package
            uri="fr.istic.tools.scanexam"
            class="fr.istic.tools.scanexam.ScanexamPackage"
            genModel="model/ScanExam.xcore"/>
   </extension>

</plugin>
