.UILabel {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
    -fx-font-size: 14;
    -fx-label-padding: 5px;
}

.InstructionLabel {
	 -fx-font-family: Arial;
    -fx-text-fill: grey;
    -fx-font-size: 14;
}
.ArrowButton {
    -fx-padding: 5px;
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.TopArrowButton {
    -fx-background-image: url(/viewResources/downArrow.png);
}

.BotArrowButton {
    -fx-background-image: url(/viewResources/upArrow.png);
}

.TogglePanel {
    -fx-background-color: rgba(128,128,128,0.5);
}

.MainPane {
    -fx-border-width: 1px ;
    -fx-border-color : lightgrey ;
    -fx-background-color : white;
}


.SideBoxes {
    -fx-border-color : lightgrey;
    -fx-border-width : 1px;
}

.detailsBox{
	-fx-border-color: lightgrey;
	-fx-border-width: 1px;
	
}

.scrollPanes {
	-fx-background-color: transparent;
	-fx-focus-color : transparent;
	-fx-faint-focus-color : transparent;
	-fx-border-color: lightgrey ;
	-fx-border-width: 1px 1px 1px 1px;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


.List {
	-fx-background-color: transparent;
	-fx-focus-color : transparent;
	-fx-faint-focus-color : transparent;
	-fx-border-color: lightgrey ;
	-fx-border-width: 1px 1px 1px 1px;
}


.List > .viewport {
	-fx-background-color: white;
}


/* GRADER */

.Grader {
	-fx-border-color: lightgrey;
	-fx-border-width: 1px;
	-fx-background-color: derive(lightblue,-20%);
}

.GradeList {
	-fx-background-color: lightblue;
	-fx-focus-color : transparent;
	-fx-faint-focus-color : transparent;
	-fx-border-color: transparent ;
}

.GradeList > .viewport {
	-fx-background-color: transparent;
}

.GradeList:focused {
	-fx-background-color: lightblue;
	-fx-background-insets: 0px
}

.GradeItem {
	-fx-border-color: lightgrey ;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-padding: 3px 3px 3px 3px ;
}

.GradeItemTopRow {
	-fx-padding : 3px;
	-fx-spacing: 3px;
}

.WebView {/*DOES NOT WORK */
	-fx-background-color : transparent;
}


/* STUDENT DETAILS */
.RowTitle {
	-fx-font-weight : bold;
}

.RenameField {

}

/* */

.ListItem {
	-fx-border-color: lightgrey ;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-padding: 3px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
.tab-header-background {
	-fx-border-color: lightgrey ;
	-fx-border-width: 0px 0px 1px 1px;
}

.mytext-field {
	-fx-border-color: lightgrey;
	-fx-border-width: 1px;
	-fx-padding: 0px;
}
.renameLabel {
}



.button {
	-fx-border-color : lightgrey;
	-fx-border-width: 1px;
	-fx-background-insets: 0px;
}

.toggle-button {
	-fx-border-color : lightgrey;
	-fx-border-width: 1px;
	-fx-background-insets: 0px;
}

.check-box > .box {
	-fx-border-color : lightgrey;
	-fx-border-width: 1px;
	-fx-background-insets: 0px;
}
.InfinityButton {
	-fx-pref-width: Infinity;
} 
.clickableArea {
	
}

.unicodeLabel {
	-fx-font-size: 20;
}

.badCheckBox > .box{
	-fx-border-color : red;
	-fx-border-radius: 3px 2px 1px;
}

.goodCheckBox > .box{
	-fx-border-color : green;
	-fx-border-radius: 3px 2px 1px;
}

.mytext-field {
	-fx-border-color: lightgrey;
	-fx-border-width: 1px;
	-fx-padding: 0px;
}
.renameLabel {
	-fx-padding: 0px;
}



.text-field:wrong-format {
	-fx-focus-color: #FF4300;
	-fx-faint-focus-color: #FF430022;
    -fx-background-color:
            #FF4300,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
	
}

.mainPane {
	
}
.parentPane{
	
	
}


/* ANNOTATIONS */

.textAnnotation {
	-fx-background-insets: 0px;
	-fx-border-radius: 0px;
}
.textAnnotation > .scroll-pane{

-fx-hbar-policy:never;
-fx-vbar-policy:never;	
}
.annotationBox {
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-background-color: lightgrey;
}
