/CommentImpl.java
/CoreFactoryImpl.java
/CorePackageImpl.java
/ExamImpl.java
/GradeImpl.java
/GradeScaleImpl.java
/HandwritingCommentImpl.java
/PageImpl.java
/QuestionImpl.java
/QuestionZoneImpl.java
/StudentSheetImpl.java
/TextCommentImpl.java
