/.DataFactory.java._trace
/.DataFactory.xtendbin
/.ExamReader.java._trace
/.ExamReader.xtendbin
/.ExamWriter.java._trace
/.ExamWriter.xtendbin
/.Observer.java._trace
/.Observer.xtendbin
/.Subject.java._trace
/.Subject.xtendbin
/DataFactory.java
/ExamReader.java
/ExamWriter.java
/Observer.java
/Subject.java
