/.QRCodeGenerator.java._trace
/.QRCodeGenerator.xtendbin
/.QRCodeGeneratorImpl.java._trace
/.QRCodeGeneratorImpl.xtendbin
/.QRThreadWriter.java._trace
/.QRThreadWriter.xtendbin
/QRCodeGenerator.java
/QRCodeGeneratorImpl.java
/QRThreadWriter.java
